#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  display: flex;
}

.input-bar{
  width: 150rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #383636;
  color: #fff;
}

.input-bar:focus{
  outline: none;
  box-shadow: 0 0 0 2px #646cff;
}

.add-button{
  width: 40rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #646cff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding-top: 1rem;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 1.5rem; /* Space for the custom bullet */
  position: relative;
}

li::before {
  content: ">"; /* Square bullet */
  position: absolute;
  left: 0;
  color: #646cff; /* Optional: bullet color */
}

.ingredient-title{
  display: flex;
  margin-top: 2rem;
}